/* Layout */

/*Variáveis*/
:root {
    --Amarelo: #FEFC9C;
    --Branco: #ffffff;
    --Cinza: #31312f;
    --Cinzaclaro: #4b4b489c;
    --Amareloescuro: #d1ce00de;
    --preto: #000;
}

/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex2 {
    display: flex;
    flex-direction: column;
}

.btn {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--Amarelo);
    padding: 2px 12px;
    color: var(--Cinza);
    border-radius: 30px;
    border: 2px solid var(--Cinzaclaro);
}



/* topo do site */

#topo {
    position: fixed;
    right: 12px;
    bottom: 7px;
}

html {
    scroll-behavior: smooth;
}



/*--------------- fim Layout -------------*/


/*--------------- Smartphone portrait -------------*/
/*Cabeçalho */
header {
    height: 85px;
    background-color: var(--Cinza);
}

#logo img {
    width: 95px;
    height: 95px;
    margin-top: 39px;
    margin-left: 35px;
    border-radius: 30px;
}

#check {
    display: none;
}

label {
    color: rgba(254, 252, 156, 0.75);
    font-size: 3.20rem;
    position: fixed;
    right: 20px;
    top: 7px;
}

nav ul {
    height: 100vh;
    background-color: rgba(254, 252, 156, 0.58);
    position: fixed;
    top: 85px;
    right: -35%;
    width: 35%;
    transition: all 0.5s;
}

/* Ação para a caixa checkbox */
/* quando selecionado mudar propriedades ul */

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 12px;
    text-align: right;
    border: 1px solid var(--Cinzaclaro);
}

nav ul li a {
    text-decoration: none;
    color: var(--preto);
}

/* Principal */

main {
    height: 45vh;
    background: url(./img/Academia.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--Branco);
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.288), 0px 15px 15px rgba(0, 0, 0, 0.288), 0px 20px 20px rgba(0, 0, 0, 0.288);
    text-align: center;
}

main h2 {
    color: var(--Amareloescuro);
    font-size: 1.60rem;
    text-shadow: 0px 2px 8px var(--preto), 0px 10px 10px rgba(255, 255, 255, 0.521), 0px 5px 5px rgba(255, 255, 255, 0.521), 0px 5px 5px rgba(255, 255, 255, 0.521);
    margin-bottom: 25px;
}


/* Destaque */
#destaque {
    padding: 20px 10px;
    background: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-top: 20px;
}

#hero-text h2 {
    margin-bottom: 15px;
    color: var(--Amarelo);
}

#hero-text p {
    color: var(--Branco);
}

.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topics p {
    margin-left: 15px;
    color: var(--Branco);
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
}

#sobre .container {
    flex-direction: column;
}

#sobre h2 {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 25px;
    font-size: 1.90rem;
}

#sobre p {
    margin-bottom: 20px;
    text-align: left;
}

#sobre .imagem {
    align-items: center;
}

#conhecimento {
    padding: 35px 10px;
    background: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
}

#conhecimento .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conhecimento .container h2 {
    color: var(--Amarelo);
    margin: 25px 50px;
}

#conhecimento .container p {
    color: var(--Branco);
    margin: 20px 0px;
}

#qrcode {
    display: none;
}

#conhecimento .container a {
    background-color: var(--Amareloescuro);
    color: #000000;
    text-align: center;
    border-radius: 70px;
    
}

/* Cartões */

#cartao {
    padding: 30px 10px;
    text-align: center;
}

#cartao .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cartao h2 {
    margin: 12px 0px;
    text-align: center;
    font-weight: 800;
    color: var(--Branco);
}

#cartao p {
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--Branco);
    text-align: center;
}

.card {
    background-color: var(--Cinza);
    background-position: center;
    margin-bottom: 25px;
    border-style: double;
    border-radius: 30px;
    text-align: center;
    border-color: var(--Amareloescuro);
    height: 480px;
    width: 358px;
}

.card img {
    border-radius: 30px;
    align-items: center;
    height: 272.5px;
}

#contato {
    background-color: var(--Cinza);
    display: flex;
    flex-direction: row;
}

#social .topics {
    margin-bottom: 15px;
}

.contato-item iframe {
    display: none;
}

#dados {
    margin: 20px 0px 10px 0px;
}

#mapa {
    color: var(--Branco);
}

.containerfooter {
    padding: 5px;
    background-color: var(--preto);
    color: var(--Branco);
    text-align: center;
}


/*--------------- fim - Smartphone portrait -------------*/


/*--------------- Smartphone landscape -------------*/
@media (min-width: 576px) {

    /*Layout*/
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */

    nav ul {
        width: 30%;
        right: -30%;
    }

    /* Principal */

    main {
        height: 68vh;
    }

    main h1 {
        font-size: 2.02rem;
        text-align: center;
    }

    main h2 {
        font-size: 1.70rem;
    }

    /* Destaque */

    #destaque {
        padding: 20px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 150px;
        height: 150px;
        margin: 0px 30px 0px 0px;
    }

    .topics {
        display: none;
    }

    #sobre {
        display: flex;
    }

    #sobre .container {
        flex-direction: column;
    }

    .imagem {
        text-align: center;
    }

    #social {
        display: flex;
        flex-direction: column;
    }

    #social .container {
        align-items: center;
    }

    #social .topics {
        display: flex;
        flex-direction: row;
    }

}

/*--------------- fim - Smartphone landscape -------------*/

/*--------------- tablet portrait -------------*/
@media (min-width: 768px) {

    /*Layout*/
    .container {
        max-width: 720px;
    }

    /* Cabeçalho */

    nav ul {
        width: 30%;
        right: -30%;
    }

    main h1 {
        font-size: 2.53rem;
        text-align: center;
    }

    main h2 {
        font-size: 2.28rem;
    }

    #mapa iframe {
        display: flex;

        width: 400px;
        height: 350px;
        margin-bottom: 20px;
    }

}

/*--------------- fim - tablet portrait -------------*/


/*--------------- tablet landscape -------------*/
@media (min-width: 992px) {

    /*Layout*/
    .container {
        max-width: 960px;
    }


}

/*--------------- fim - tablet landscape -------------*/


/*--------------- Notebook/PC -------------*/
@media (min-width: 1200px) {

    /*Layout*/
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabeçalho */
    header {
        height: 97px;
    }

    #logo img {
        width: 140px;
        height: 140px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 22px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: var(--Branco);
    }

    nav ul li a:hover {
        color: var(--Amareloescuro);
    }

    /* Principal */

    main {
        height: 85vh;
    }

    /* Destaque */

    #hero img {
        width: 250px;
        height: 250px;

    }

    .topics {
        display: flex;
        flex-direction: row;
    }

    .topics p {
        margin-left: 20px;
    }

    #destaque {
        padding: 120px 0px;
        background-attachment: fixed;
    }

    #sobre .imagem {
        align-items: flex-start;
        margin-left: 15px;
        width: 320px;
        height: 320px;
    }

    #sobre {
        display: flex;
        flex-direction: row;
    }

    #sobre .container {
        flex-direction: row;
    }

    #qrcode {
        display: flex;
        height: 190px;
    }

    #qrcode img {
        border-radius: 20px;
    }

    #conhecimento {
        background-attachment: fixed;
    }

    #conhecimento h2 {
        text-align: center;
        font-size: 1.35rem;
    }

    #conhecimento p {
        font-size: 1.02rem;
    }

    #conhecimento .container {
        display: flex;
        flex-direction: row;
    }

    #cartao {
        align-items: center;
    }

    #cartao .container {
        display: flex;
        flex-direction: row;
    }

}

/*--------------- fim - Notebook/PC -------------*/


/*--------------- Full hd / 4k -------------*/
@media (min-width: 1400px) {

    /*Layout*/
    .container {
        max-width: 1320px;
    }

    /* Cabeçalho */
    header {
        height: 100px;
    }

    /* Principal */

    main {
        height: 87.3vh;
    }

    main h1 {
        font-size: 3.68rem;
    }

    main h2 {
        font-size: 3rem;
    }
}

/*--------------- fim - Full hd / 4k -------------*/